<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/main.css">
    </head>
    <body>
        
   
<div class="container"><h1>this is the page which will grab the url and download its all images ..!!!</h1>
<h2>cool..</h2>
<div class="middle">
<form action="/" method="post">
   <lable for="name">enter the page url:</lable>
   
    <input type="text" name="url" placeholder="enter url of page from wher u want images"><br>
    <lable for="parent">give the parent element selector:</lable>
     <input type="text" name="parent" placeholder="enter the parent div with class name (like div.mayur)"><br>
    <input type="submit">
</form>
</div>
</div>
 </body>
</html>
